# OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FRONTEND_URL=

# Database
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# The Movie Database read key
TMDB_API_READ_KEY=

# JWT Configuration
JWT_SECRET=

# Debug
DEBUG=false
